<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Detection App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3zNX2 realiseGogPLPJyGgixchelIDTZ2+LWA8NW57mAl9asMv+yIDwxmf" crossorigin="anonymous" />
  </head>
  <body class="antialiased bg-white dark:bg-gray-900 h-screen flex justify-center items-center">
    <div class="container mx-auto px-4 py-8">
      <div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-3xl font-bold text-center mb-8 text-green-600">Personality Detection App</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" class="flex flex-col">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="input">
              Input Prompt:
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="input" name="input">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="file">
              Upload Image:
            </label>
            
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="file" name="file" multiple accept=".jpg,.jpeg,.png">
          </div>
          <div class="flex items-center justify-center">
            <button class="bg-gradient-to-r from-green-400 to-green-600 hover:from-green-600 hover:to-green-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Tell me about the personality
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>